<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="todoTitle"><strong>TODO Title</strong></label>
      <input
        type="text"
        #todoTitleInput
        class="form-control"
        id="todoTitle"
        placeholder="Enter todo title"
      />
      <button
        (click)="onTodoAdd()"
        type="submit"
        class="btn btn-sm btn-block btn-primary mt-4"
      >
        Add Todo
      </button>
    </div>
  </div>
  <div class="col-md-6">
    <form>
      <div class="list-group">
        <ul class="list-group">
          <li
            class="list-group-item d-flex justify-content-between"
            *ngFor="let item of todoItems"
          >
            <strong>{{ item.title }}</strong>
            <div>
              <button class="btn btn-sm btn-outline-info mr-2">Edit</button>
              <button class="btn btn-sm btn-outline-danger">Remove</button>
            </div>
          </li>
        </ul>
      </div>
    </form>
  </div>
</div>
